body{
    background-color:#efe2cf;
    margin: auto;
    padding: 80px;
}

h1{
    color:#446B4C;

}

#quiz{
    color:#493F24;
    margin: 10px;
    line-height: 2em;
}

#qui

#score{
    color:#C22E14;
    margin: 10px;
}


#submit{
    margin: 10px;
}